.create-account-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #09b59c;
  font-family: "Ubuntu", sans-serif;

  .regisPage {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 300px;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 40px;
      font-weight: bolder;

      #spaIcon {
        font-size: 40px;
        color: #09b59c;
      }

      .senderSpan {
        color: #09b59c;
      }
    }

    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }

      input[type="email"],
      input[type="password"] {
        width: calc(100% - 22px);
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: solid 1px gray;
      }
    }

    button {
      width: 100%;
      padding: 11px 14px;
      font-size: 16px;
      background-color: #1f8be1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0d6cb1;
      }
    }
    .noDiv {
      margin-top: 8%;
    }
    .noDivTitle {
      font-size: 13px;
      position: relative;
      color: gray;
      background-color: white;
      padding: 0px 13px;
      top: -20px;
      left: 25%;
    }
    .signUpDiv {
      margin-top: 3%;
      font-size: 13px;
      border-radius: 5px;
      background-color: #f5f5f5;
      color: black;
      text-align: center;
      padding: 11px 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px gray;
      cursor: pointer;
    }
  }
}
