.sendPage {
  font-family: "Ubuntu", sans-serif !important;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerTitle {
    font-size: 19px;
  }
  .bodyA {
    margin-top: 5%;
  }
  .buttonsDiv {
  }
  .contentDiv {
    border: solid 1px gray;
    border-radius: 5px;
  }
  .chatBtn {
    width: 70%;
    font-size: 13px;
    background-color: #263238;
    color: white;
    padding: 10px 4px;
    margin-bottom: 3%;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .iconSpan {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textSpan {
    flex: 0.8;
  }
  #chatIcon {
    font-size: 18px;
  }
  .rmsc.multi-select {
    width: 100%;
    font-family: "Ubuntu", sans-serif !important;
    .dropdown-heading-value {
      width: 0px;
    }
  }
  .rmsc.multi-select .dropdown-container {
    background-color: #e8f0fe;
    color: black;
    font-size: 15px;
    border: solid 1px gray;
    box-shadow: none;
    font-family: "Ubuntu", sans-serif !important;
    span,
    svg {
      color: black !important;
    }
  }
  .rmsc.multi-select .dropdown-container:focus-within {
    border: solid 1px gray;
    box-shadow: none;
  }
  .toDiv {
    display: flex;
    margin-bottom: 1%;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
      white-space: nowrap;
      br {
        display: none;
      }
    }
  }
  .spanA {
    flex: 0.15;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  .spanB {
    max-width: 100%;
    flex: 0.85;
    display: flex;
    align-items: center;
  }

  .timepicker {
    z-index: 0;
  }

  .textArea {
    width: 100%;
    height: 100px;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #e8f0fe;
    font-family: "Ubuntu", sans-serif !important;
    padding: 10px 5px;
  }
  .textArea:focus {
    outline: none;
  }
  input::file-selector-button {
    font-family: "Ubuntu", sans-serif !important;
    color: black;
    padding: 10px 5px;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #e8f0fe;
  }
  .contactText {
    width: 50%;
    font-family: "Ubuntu", sans-serif !important;
    color: black;
    padding: 10px 5px;
    border: solid 1px gray;
    border-radius: 5px;
    background-color: #e8f0fe;
  }
  .contactText:focus {
    outline: none;
  }
  .head {
    color: white;
    background-color: #26a69a;
    padding: 10px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .headContent {
    padding: 10px 20px;
    padding-top: 20px;
    background-color: white;
    border-radius: 4px;
  }
  .sendDivbtn {
    font-size: 13px;
    border-radius: 5px;
    background-color: #1f8be1;
    color: white;
    text-align: center;
    padding: 8px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .toDiv.send {
    display: flex;
    justify-content: flex-end;
  }
  .sendDivbtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sendIcon {
    font-size: 13px;
  }
  .sendIconSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  #selectTag {
    width: 50%;
    background-color: #e8f0fe;
    border: solid 1px gray;
    border-radius: 5px;
    .css-13cymwt-control,
    .css-t3ipsp-control {
      background-color: #e8f0fe;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}
